aiohttp
aiofiles
asyncio
future
ffmpeg
ffmpeg-python
pyrogram
Pillow
python-arq
psutil
psutil
pytgcalls[pyrogram]
python-dotenv
requests
search_engine_parser
TgCrypto
wget
wheel
youtube_dl
youtube_search_python
youtube_search
